<!DOCTYPE html>
<html>
<head>
  <title>BootstrapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
    <div class="container">
      <%= msg %>
    </div>
  </div>
<% end %>
<h1>Music App</h1>
<p><%= link_to "Artists", artists_path %></p>
<p><%= link_to "Albums", albums_path %></p>
<p><%= link_to "Songs", songs_path %></p>

<%= yield %>

</body>
</html>
